{% extends 'adminpanel/adminIndex.html' %}
{% block content %}
{% load static %}
{% include 'adminpanel/header.html' %}
{% include 'adminpanel/nav.html' %}

<div id="page-wrapper">
    <div id="page-inner">      
        <div class="row">
            <div class="col-md-12">
             <h2>Reviews List</h2>   
                <h5>Welcome {{user.username}} , Love to see you back. </h5>
            </div>
        </div>
         <!-- /. ROW  -->
         <hr />
  
        <div class="col-md-12">
            <!--    Bordered Table  -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Reviews Table
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive table-bordered">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sno. </th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Profession</th>
                                    <th>Review</th>
                                    <th>Product Name</th>
                                    <th>Product Image</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                {%for review in reviews %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        {{ review.user.first_name }} {{ review.user.last_name }}
                                    </td>
                                    <td>
                                        {{ review.user.email }}
                                    </td>
                                    <td>
                                        {{ review.profession }}
                                    </td>
                                    
                                    <td>
                                        {{ review.review }}
                                    </td>
                                    <td>
                                        <a href="{% url 'product-detail' review.product.id %}">
                                            {{ review.product.name }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'product-detail' review.product.id %}">
                                            {% if review.product.image %}
                                                <img src="{{ review.product.image.url }}" alt="{{ review.product.name }}" style="width: 70px; height: 70px;"/>
                                            {% else %}
                                                No image available
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td>
                                        <form method="POST" action="{% url 'delete-review' review.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td> 
                                    

                                </tr>
                                {% empty %}
                                    <tr colspan='6'>
                                        <td>No Brand found.</td>
                                    </tr>
                                {% endfor %}
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
             <!--  End  Bordered Table  -->
        </div>
    </div>
</div>

{% endblock content %}
